@tailwind base;
@tailwind components;
@tailwind utilities;

.root, #root, #docs-root {
    --background-color: #ecf0f3;
    --body-text-color: #1f2937;
    --remarking-color: #;
}
html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-[#1A1A1D] text-[#ecf0f3] tracking-wide
    }
    h1, h2, h3, h4, h5, h5 {
        @apply font-bold
    }
    h1 {
        @apply text-4xl sm:text-5xl min-[2000px]:text-7xl
    }
    h2 {
        @apply text-3xl sm:text-4xl min-[2000px]:text-6xl 
    }
    h3 {
        @apply text-lg min-[2000px]:text-3xl
    }
    li {
        @apply cursor-pointer text-sm min-[2000px]:text-xl
    }
    p {
        @apply min-[2000px]:text-2xl
    }
    button {
        @apply shadow-md shadow-gray-900 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }
}

.main-section {
    background-image: url("../../public/mainbg.jpg");
}